:root{
    --bg-color: #f4f4f4;
    --btn-color: #e0e0e0;
    --operator-color: #94ec51;
    --submit-color: #e5f98d;
    --text-color: #000000;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --hover-color: #c6df57;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    font-family: var(--font-family);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 400px;
    width: 300px;
}
.screen{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.buttonContainers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 15px;
    width: 100%;
    height: 100%;
}


#screenBottom, #screenTop{
    height: 50px;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    text-align: right;
    overflow-x: auto;
    border: none;
    font-size: 1.;
    background-color: white;
    font-family: var(--font-family);
    font-size: 1.5em;
    font-weight: 500;
    /* display: disabled; */
}
.btns {
    height: 50px;
    width: 100%;
    border: none;
    background-color: var(--btn-color);
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font: 300 2em;
}
.operator {
    background-color: var(--operator-color);
    color: #fff;
    transition: background-color 0.3s ease;
    
}
.clear {
    grid-column: 1 / 3;
   
    
}
.delete {
    grid-column: 3 / 5;
    
}
.submit {
    grid-column: 1 / 5;
   background-color: var(--submit-color);
   font-size: 30px;
   transition: background-color 0.3s ease;
}
.submit:hover{
    background-color:  var(--hover-color);
}
.operator:hover{
    background-color: var(--hover-color);
}
.btns:hover{
    background-color: var(--hover-color);
    transition: background-color 0.3s ease;
}
